$main-font: Montserrat, sans-serif;
$background-color: #b71b1b;
$normal-color: #a4acafc5;
$fighting-color: #d56723c5;
$flying-color: #c6b7f5c5;
$poison-color: #b97fc9c5;
$ground-color: #ebd69dc5;
$rock-color: #a38c21c5;
$bug-color: #6f9f3fc5;
$ghost-color: #7b62a4c5;
$steel-color: #9eb7b8c5;
$fire-color: #fd7e24c5;
$water-color: #4592c5c5;
$grass-color: #729f3fc5;
$electric-color: #eed535c5;
$psychic-color: #f366b9c5;
$ice-color: #51c4e7c5;
$dragon-color: #a27dfac5;
$dark-color: #707070c5;
$fairy-color: #fdb9eac5;