@use 'vars' as *;

// Body
body {
    font-family: $main-font;
    background-color: $background-color;
}

// Header
header {
    color: #fff;
}

// Main
main {
    background: rgba(255, 255, 255, 0.6) url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
    border-radius: 40px;
}

.card {
    height: 300px;
    cursor: pointer;

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto;
    }

    &.grass {
        background-color: $grass-color;
    }

    &.fire {
        background-color: $fire-color;
    }

    &.water {
        background-color: $water-color;
    }

    &:hover {
        scale: 1.1;
    }
}