@use 'vars' as *;

// Body
body {
    font-family: $main-font;
    background-color: $background-color;
}

// Header
header {
    color: #fff;
}

.form-select {
    width: 30%;
}

// Main
#pokemons-cards {
    padding: 0 20px;
    margin: 30px 0;
    background: rgba(255, 255, 255, 0.6) url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
    border-radius: 40px;
}

.card {
    height: 300px;
    cursor: pointer;

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto;
    }

    &:hover {
        scale: 1.1;
    }

    &.normal {
        background-color: $normal-color;
    }

    &.fighting {
        background-color: $fighting-color;
    }

    &.flying {
        background-color: $flying-color;
    }

    &.poison {
        background-color: $poison-color;
    }

    &.ground {
        background-color: $ground-color;
    }

    &.rock {
        background-color: $rock-color;
    }

    &.bug {
        background-color: $bug-color;
    }

    &.ghost {
        background-color: $ghost-color;
    }

    &.steel {
        background-color: $steel-color;
    }

    &.fire {
        background-color: $fire-color;
    }

    &.water {
        background-color: $water-color;
    }

    &.grass {
        background-color: $grass-color;
    }

    &.electric {
        background-color: $electric-color;
    }

    &.psychic {
        background-color: $psychic-color;
    }

    &.ice {
        background-color: $ice-color;
    }

    &.dragon {
        background-color: $dragon-color;
    }

    &.dark {
        background-color: $dark-color;
    }

    &.fairy {
        background-color: $fairy-color;
    }
}